
@media (min-width: 1140px) {
  .modal-xl {
    max-width: 1000px;
  }
}
@media (min-width: 1340px) {
  .modal-xxl {
    max-width: 1200px;
  }
}
.pointer {
  cursor: pointer;
}

.mce-toolbar-grp.mce-container.mce-panel.mce-first.mce-last {
  height: 35px !important;
}

.mce-container-body.mce-flow-layout {
  height: 35px !important;
}

.mce-container-body.mce-flow-layout{
  height: 35px !important;
}

.close {
  margin: -1rem 0rem -1rem auto !important;
}

.close span {
  font-size: 25px;
 }

.pagination .paginate_button.page-item {
    padding: 0;
}
