[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
netifaces = "*"
mysqlclient = "*"
colorlog = "*"
django-tinymce = "*"
ipython = "*"
ipdb = "*"
django-grappelli = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"
coverage = "*"
pytest-django = "*"
"pytest-flake8" = "*"
"pytest-pep8" = "*"
pytest-cache = "*"
"pep8" = "*"
pytest-xdist = "*"
factory-boy = "*"
fake-factory = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
