[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.13"
gunicorn = "==19.9.0"
netifaces = "==0.10.7"
mysqlclient = "==1.3.13"
colorlog = "==3.1.4"
django-tinymce = "==2.7.0"
ipython = "==7.1.1"
ipdb = "==0.11"
django-grappelli = "==2.12.1"
pillow = "==5.3.0"
django-storages = "==1.7.1"
google-cloud-storage = '==1.13.0'
django-imagekit = "==4.0.2"
django-taggit = "==0.23.0"
django-extensions = "==2.1.3"
google = "==2.0.1"

[dev-packages]
django-debug-toolbar = "*"
pytest = "*"
coverage = "*"
pytest-django = "*"
"pytest-flake8" = "*"
"pytest-pep8" = "*"
pytest-cache = "*"
"pep8" = "*"
pytest-xdist = "*"
factory-boy = "*"
fake-factory = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
